@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}


/*======================================================*/
body{
	background: #f1f1f1;
	/*height: 5000px;*/
}
.header-wrap{
	width: 100%;
	height:35px;
	background:#f5f5f5 ;
}
.header{
	width: 1190px;
	height: 35px;
	/*background: pink;*/
	margin: 0 auto;
	/*border-bottom: 1px solid red;*/
}
.header .list-left{
	float:left;
	padding-left: 6px;
}
.header .list-left li{
	float:left;
	/*margin-left: 4px;*/
}
.header .list-left li a{
	height: 35px;
	line-height: 35px;
	display: block;
}
.header .list-left .li02{
	margin: 0 21px 0 5px;
	
}
.colorF40{
	color:#F40 !important;
}
.header .list-right{
	float:right;
}
.header .list-right li{
	float: left;
	height: 35px;
	margin-left: 6px;
}
.header .list-right li a{
	float: left;
	height: 35px;
	line-height: 35px;
}
.header .list-right li em{
	float: left;
	height: 35px;
	line-height: 37px;
	margin-left: 8px;
	/*text-align: center;*/
}
.header .list-right li a i{
	float: left;
	margin-right: 4px;
	font-size: 12px;
}
.header .list-right li a span{
	float: left;
}
.header .list-right li a:hover span{
	color: #f40;
}

.baiSe-wrap{
	height: 150px;
	background: #fff;
}

.baiSe{
	width: 1190px;
	height: 150px;
	/*background: pink;*/
	margin: 0 auto;
	position: relative;
}
.baiSe .er{
	width: 94px;
	height: 112px;
	border:1px solid #eeeeee;
	position: absolute;
	top:32px;
	right: 0;
}
.baiSe .er span{
	text-align: center;
	display: block;
}
.baiSe .er img{
	margin: 5px 0 0 6px;
}
.baiSe .er .close{
	height: 18px;
	width: 18px;
	border: 1px solid #eee;
	position: absolute;
	left: -20px;
	top: -1px;
	text-align: center;
	color: #cfcfd5;
}
.baiSe .logo{
	float:left;
	margin: 38px 0 0 22px;
}
.baiSe .logo a{
	display: block;
	width: 145px;
	height: 58px;
	background: url(../images/logo.jpg) no-repeat 0 0;
}
.baby{
	/*width: 700px;
	height: 110px;*/
	/*background: yellow;*/
	float:left;
	margin: 30px 0 0 100px;
}
.baby-top{
	margin-left: 20px;
}
.baby-top li{
	float:left;
	width: 50px;
	height: 25px;
	line-height: 25px;
	/*background: greenyellow;*/
	color:#f40;
	text-align: center;
	cursor: pointer;
}
.baby-top .current{
	background: #f40 !important;
	color:#fff;
	font-weight: 700;
}
.baby-top li:hover{
	background: #FFEEE5;
}
.baby-center{
	/*position: fixed;*/
}
.baby-center .txt{
	width: 468px;
	height: 34px;
	border:3px solid #f50;
	border-right:0 none;
	float:left;
	padding: 0;
	color:#9c9c9c;
	padding-left: 32px;
	border-radius: 25px 0 0 25px;
}
.baby-center .btn{
	width: 122px;
	height: 40px;
	background: #ff4200;
	padding: 0;
	border:0 none;
	font-size: 18px;
	color:#fff;
	font-family: "宋体";
	font-weight: 700;
	float:left;
	border-radius: 0 25px 25px 0;
}
.baby-center .gaoji{
	float:left;
	width: 25px;
	margin-left: 9px;
}
.baby-bottom li{
	float:left;
	margin-right: 9px;
}
.baby-bottom li a{
	display: block;
	height: 38px;
	line-height: 38px;
}
.baby-bottom .last{
	float:right;
	margin-right: 34px;
}
.main{
	width: 1190px;
	height: 555px;
	/*background: yellow;*/
	margin: 0 auto;
}
.main .main-left{
	width: 190px;
	height: 555px;
	background: #f40;
	float: left;
	color: #fff;
}
.main-left .super{
	height: 33px;
	padding: 0 10px;
	/*background: pink;*/	
}
.main-left .super span{
	float: left;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	font-weight: 700;
}
.main-left .super em{
	float: right;
	height: 33px;
	line-height: 28px;
}
.main-left .liebiao li{
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	/*background: pink;*/
	font-size:13px;
}
.main-left .liebiao li i{
	float: left;
	margin-right: 6px;
	font-weight: 700;
	font-size:18px;
	height: 30px;
	line-height: 32px;
}
.main-left .liebiao li:hover{
	background:lightpink ;
}
.main-left .liebiao li a{
	float: left;
	color: #fff;
	font-weight: 700;
}
.main-left .liebiao li a:hover{
	text-decoration: underline;
}
.main-left .liebiao li span{
	float: left;
	margin: 0 3px;
}
.main-left .liebiao li em{
	float: right;
}
.main-left .main-left-bottom{
	width: 190px;
}
.main-left .qiche img{
	width: 190px;
	display: block;
}

.main .main-right{
	width: 990px;
	height: 555px;
	/*background: skyblue;*/
	float: right;
}
.main .main-right .nav{
	width: 990px;
	height: 44px;
	/*text-align: center;*/
}
.main .main-right .ul01{
	float: left;
	margin-top:4px;
	/*border-right: 1px solid blue;*/
}
.main .main-right .ul01 li{
	/*height: 44px;*/
	/*text-align: center;*/
	/*line-height: 44px;*/
	float: left;
	margin-right: 6px;
}
.main .main-right .ul01 li a{
	display: block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #F40;
	padding: 0 9px;
	font-size: 16px;
	font-weight: 700;
	border-radius:12px ;
}
.main .main-right .ul01 li a:hover{
	color: #fff;
	background: #FF4400;
}
.main .main-right .ul02{
	float: left;
	margin-top:4px;
}
.main .main-right .ul02 li{
	float: left;
	margin-right: 4px;
}
.main .main-right .ul02 li a{
	display: block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #3c3c3c;
	padding: 0 6px;
	font-size: 14px;
	font-weight: 700;
	border-radius:12px ;
	/*left:auto;
	right:0;*/
}
.main .main-right .ul02 li a:hover{
	color: #fff;
	background:#f40 ;
}

.main-right-bottom .lunbo{
	width: 520px;
	height: 511px;
	/*background: pink;*/
	float: left;
}
.lunbo .lunbo-top{
	position: relative;
	left: 0;
	top: 0;
}
.lunbo .lunbo-top .lunbo-img{
	height: 280px;
	width: 520px;
	/*background: red;*/
	/*display:block;*/
}
.lunbo .lunbo-top li{
	display: block;
}
.lunbo .lunbo-top span{
	width: 28px;
	height: 36px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	top: 50%;
	margin-top:-18px ;
	font-size: 40px;
	line-height: 36px;
	text-align: center;
	/*display: block;*/
	color: #fff;
	cursor: pointer;
}
.lunbo .lunbo-top .span02{
	left: auto;
	right: 0;
}
.lunbo .lunbo-top span:hover{
	background: rgba(0,0,0,0.7);
}

.lunbo .dian{
	position: absolute;
	left: 50%;
	bottom: 15px;
	margin-left: -32px;
	width: 67px;
	background: #fff;
	border-radius: 6px
	/*background: c8a556;*/
}
.lunbo .dian li{
	float: left;
	margin:2px;
}
.lunbo .dian li a{
	display: block;
	width: 7px;
	height: 7px;
	/*margin: 2px;*/
	background: #b7b7b7;
	border: 1px solid #b7b7b7;
	border-radius: 50%;
}
.lunbo .dian li a:hover{
	background-color:#ff4400 ;
}
.lunbo-bottom .tmall{
	
	/*width:56px;*/
	height: 27px;
	background: #f1f1f1;
	border-bottom:2px solid #c12c26;
}
.lunbo-bottom .tmall h3{
	float: left;
	padding-top: 6px;
	height: 21px;
	width: 60px;
	font-size: 14px;
	line-height: 26px;
	padding-left: 48px;
	border-bottom: 2px solid #000;
	background:url(../images/tmall.gif) no-repeat -4px 10px; ;
}
.tmall span{
	float: left;
	margin: 10px 0 0 10px;
}
.tmall p{
	float: right;
	margin:10px 4px 0 0 ;
}
.lunbo .zuixiamian a{
	display: block;
	height: 520px;
	width: 202px;
}
.lunbo .zuixiamian img{
	display: block;
	float: left;
	height: 155px;
	width: 250px;
	margin-left: 6px;
	margin-top: 24px;
	/*position: relative;*/
}
.lunbbo .zuihou-left{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
}
/*底部轮播图位置*/


.main-right-bottom .adv{
	width:160px;
	height: 511px;
	/*background: red;*/
	float: left;
	margin-left: 10px;
}
.adv span{
	display: block;
	height: 31px;
	line-height: 40px;
	font-size: 12px;
	color: #a1a1a1;
}
.denglu{
	width: 291px;
	height: 511px;
	background: #fff;
	float: right;
}
.denglu .denglu-top{
	width: 291px;
	height: 167px;
	overflow: hidden;
	border-bottom: 2px solid #eeeeee;
	background:url(../images/member-bg.jpg) no-repeat 0 0;	
	/*background:#fff;*/
}
.denglu .denglu-top img{
	width: 60px;
	height: 60px;
	margin:0 auto;
	margin-top: 15px;
	border-radius: 50%;
	
}
.denglu .denglu-top .nihao{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6c6c6c;
	margin-top: 8px;
}
.denglu .denglu-top ul{
	text-align: center;
	height: 18px;
}
.denglu .denglu-top ul img{
	height: 18px;
	width: 18px;
	margin-left: 54px;
	margin-top: 0px;
}
.denglu .denglu-top ul li{
	float: left;
}
.denglu .denglu-top ul .jinbi{
	color: #ff4400;
	height: 25px;
	display: block;
}
.denglu .denglu-top .denglu-btn{
	margin-top: 6px;
}
.denglu .denglu-top .denglu-btn li{
	/*display: block;*/
	float: left;
	color: #fff;
}
.denglu .denglu-top .denglu-btn a{
	display: block;
	background: #f40;
	height: 25px;
	line-height: 25px;
	width: 75px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}
.denglu .denglu-centers{
	/*display: block;*/
	width: 290px;
	height: 109px;
	/*background: green;*/
	border-bottom: 2px solid #eeeeee;
}
.denglu .denglu-centers .xinwen{
	width: 100%;
}
.denglu-centers .xinwen li{
	float: left;
	margin-top:12px ;
}
.denglu-centers .xinwen li a{
	display: block;
	line-height: 21px;
	height: 21px;
	width: 39px;
	text-align: center;
	margin-left: 16px;
	font-size: 12px;
	color: #3c3c3c;
}
.denglu-centers .xinwen li a:hover{
	border-bottom:2px solid #f40;
}
.denglu-centers .xinwen-center{
	display: block;
	float: left;
	width: 100%;
	font-size: 12px;
	color: #f40;
	margin: 17px 0 0 20px;
}
.denglu-centers .xinwen-bottom li{
	float: left;
	margin: 10px 0 0 20px;
}
.denglu-bottom ul li{
	float: left;
	width: 71px;
	height: 60px;
	
	border-right: 1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	text-align: center;
}
.denglu-bottom ul li img{
	height:28px;
	width: 28px;
	display: block;
	margin:8px 0 0 22px;
}
.denglu-bottom ul li span{
	display: block;
	margin-top: 4px;
	font-size: 12px;
	color: #6c6c6c;
}
