/*通用设置*/
h1,h2,h3,h4,h5,h6,ul,ol,body,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
h1, h2, h3, h4, h5, h6{ 
	/*是父元素的字号的百分比*/
	font-size:100%; 
} 
i,em{
	font-style: normal;
}
b,strong{
	font-weight: 400;
}
u,ins,s,del,a{
	text-decoration: none;
}
input{
	/*去掉轮廓线*/
	outline: none;
}
table { 
	/*1px边框*/
	border-collapse:collapse; 
	/*单元格与单元格之间的距离    相当于是cellspacing*/
	border-spacing:0; 
} 
img{
	/*解决img底部默认留白问题*/
	display: block;
}
.clearfix:after{
	content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;
}
/*风格设置*/
/*默认的字体,字号,颜色,a标签的颜色,大小,鼠标移入的颜色,基本上用正文的字体作为默认设置*/
body{
	font: 12px/1.5 tahoma, arial, \5b8b\4f53;
    color: #6C6C6C;
}
a{
	 color: #6C6C6C;
}
a:hover{
	color: #f40;
}
